
:root {
    --color-primary: #e67e22; 
    --color-cancel: #c0392b; 
    --color-text: #555;
    --color-background: #fdfefe;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--color-background);
}

h1 {
    color: var(--color-primary);
    text-align: center;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--color-primary);
    color: white;
}


.action-buttons-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-link {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}


.primary-button {
    background-color: var(--color-primary);
    color: white;
}


.secondary-link {
    margin-left: 10px;
    color: var(--color-text);
 
}


.cancel-link {
    color: var(--color-cancel);
    text-decoration: none;
    padding: 5px; 
}