*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    transition: all .5s;
    display: flex;
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    align-items: center;
}
.sidebar{
    background-color: #fff;
    width: max-content;
    border-radius: 15px;
    padding: 2rem 1rem;
}
.sidebar:hover .sidebar__element {
    grid-template-columns: 40px 1fr;
}
.sidebar__list{
    list-style: none;
    padding: 0;

    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.sidebar__element{
    padding: .8rem 1.3rem;
    border-radius: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color: #000;
    font-weight: 500;
    transition: all .5s;
}
.sidebar__element p{
    padding-left: 20px;
}
.sidebar__element a{
    text-decoration: none;
    color: #333;
}
.sidebar__element:has(.sidebar__icon--logo){
    margin-bottom: 1rem;
}
.sidebar__icon{
    overflow: hidden;
    justify-self: center;
    font-size: 20px;
}
.sidebar__hide{
    overflow: hidden;
}
.sidebar__logo,.sidebar__text{
    padding-left: 1.3rem;
}
.sidebar__icon--logo{
    max-width: 60px;
}
.sidebar__icon--avatar{
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.sidebar__title, .sidebar__info, .sidebar__hide{
    text-wrap: nowrap;
    text-align: left;
}
.sidebar__element--avatar{
    margin-top: auto;
}
.sidebar__element .btn-dark{
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: #333;
    font-weight: 500;
    font-family: inherit;
    margin-left: 15px;
    cursor: pointer;
}
img{
    border-radius: 50%;
}
/*--------------------------------------*/
.list__item{
    overflow: hidden;
} 
.list__item--click{
    cursor: pointer;
}
.list__bottom{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__inside{
    margin: 10px;
}
.list__show{
    width: 80%;
    margin-left: 50px;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}
